/* En teoria aixo evita que es mostri la barra de fer scroll, a firefox no funciona */
::-webkit-scrollbar {
    display: none;
}

body {
  overflow:hidden;
  overflow-x: hidden;
  overflow-y: hidden;
}

body.BG {
  overflow:hidden;
  background-image: url("Indexfotos/Background2.png");
  overflow-x: hidden;
  overflow-y: hidden;
}
/* Configuració de la barra de navegació superior */

ul.BST {
  padding-left: 0px;
}

.BST li{
  background-image:repeating-linear-gradient(-5deg, greenyellow, lime, limegreen);
  float:left;
  list-style: none;
  font-size: 17px;
  width: 20%;
  text-align: center;
  text-decoration: none;
}

.BST li:hover{
  background-image:repeating-linear-gradient(-5deg, limegreen, lime, greenyellow);
}

.FCOL {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.LCOL {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

a {
  text-decoration: none;
  font: 1em arial, sans-serif;
  color: #006887;
}
/* Configuració del iframe i els divs que el composen */

iframe {
  overflow: scroll;
}

div.galeria {
  text-align: center;
  position: absolute;
  overflow:scroll;
  overflow-x: hidden;
  height: auto;
  width: 99%;
  height: 100%;
  box-sizing: content-box;
  display:flex;
  flex-wrap: wrap;
  align-content:flex-start;
  align-items:center;
}

.marco {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.FRAME {
  position: absolute;
  overflow:scroll;
  overflow-y: hidden;
  overflow-x: hidden;
  height: auto;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  border:0px;
}

/* Configuració de les imatges */

img {
  background-color: limegreen;
  padding:5px;
  margin:7px;
}

img:hover {
  background-color: green;
}

img:active {
  position:relative;
  background-color: green;
}

/* Configuració dels butons inferiors */
div.PF {
  position: absolute;
  float:left;
  text-align: center;
  text-decoration: none;
  bottom: 1%;
  background-image:repeating-linear-gradient(-5deg, greenyellow, lime, limegreen);
  list-style: none;
  font-size: 40px;
  width: 10%;
  border-radius: 10px;
}

div.PF:hover{
  background-image:repeating-linear-gradient(-5deg, limegreen, lime, greenyellow);
}

div.RS {
  position: absolute;
  float:right;
  text-align: center;
  text-decoration: none;
  bottom: 1%;
  right: 1%;
  background-image:repeating-linear-gradient(-5deg, greenyellow, lime, limegreen);
  list-style: none;
  font-size: 40px;
  width: 10%;
  border-radius: 10px;
}

div.RS:hover{
  background-image:repeating-linear-gradient(-5deg, limegreen, lime, greenyellow);
}

/* Configuració del formulari */

.formulari {
  margin-left: 20%;
  margin-right: 21%;
  text-align: center;
  list-style: none;
}
.etiquetes {
  float: left;
}
.intro_blank {
  height: 15px;
  width: 80%;
  float: right;
  margin-left: 1%;
}
input.intro_blank {
  width: 80%;
  float: right;
  margin-left: 1%;
}
.ul_intro_blank {
  text-align: left;
  display:inline-table;
  list-style: none;
  width: 80%;
}
.submits {
  background-color: red;
}
.button {
  float: right;
  margin-top: 1%;
}
